.contactoPantallaPrincipal{
    margin-top: 20px;
    padding: 20px;
    height: auto;
    background-color: #f9f8f8;
    border-radius: 20px;
    box-shadow: 
    0px 5px 6px 0px rgba(0, 0, 0, 0.34)
}

.contactoPantallaPrincipal h2{
    margin-top: 0;
    font-family: Verdana;
    background-color: #d30000;
    display: inline;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.imagenMapa{
    margin-top: 10px;
    border: 1px dotted grey;
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.14);
    display: block;
    margin: 0 auto;
}
.mapa{}

@media only screen and (max-width: 920px) {
.iconosContacto{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.imagenMapa{
    width: 100%;
    height: auto;
}

}
